body {
    background-color: rgb(238, 238, 239);
    font-family: "Karla", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400, 700;
    font-style: normal;
}

h2 {
    color: rgb(42, 178, 175);
}

h4, p, h1 {
    margin: 0;
}

button {
    background-color: rgb(192, 223, 52);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    border: none;
    border-radius: 5px;
    color: white;
    padding: 15px 80px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
    width: 240px;
}

.line {
    display: flex;
    align-items: center;
    gap: 10px;
    height: 30px;
    margin: 20px 0 10px 0;
}

#first-box-h4 {
    color: rgb(192, 223, 52);
}

.container {
    width: 650px;
    margin: auto;
    background-color: white;
    border-radius: 10px;
    margin-top: 70px;
}

.second-container {
    display: flex;
    height: 250px;
}

span {
    color: rgb(205, 212, 212);
}

.first-box {
    padding: 30px;
    text-align: left;
    line-height: 30px;
    height: auto;
}

.second-box {
    background-color: rgb(59, 178, 176);
    width: 500px;
    height: auto;
    color: white;
    padding: 30px;
    text-align: left;
    line-height: 30px;
    border-radius: 0 0 0 10px;
}

.third-box {
    background-color: rgb(73, 190, 189);
    width: 500px;
    color: white;
    margin-left: 0;
    padding: 30px;
    text-align: left;
    
    border-radius: 0 0 10px 0;
}

.points {
    height: 150px;
    margin: 22px 0 0 0;
    font-size: 12px;
    line-height: 21px;
    color: white;
    /*
    display: flex;
    flex-direction: column;
    gap: 10px;
    */
}

#third-box-h4 {
    padding-top: 5px;
}

.attribution { 
    font-size: 11px; text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}

footer {
    margin-top: 20px;
}